SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
POLYGON_RPC_URL=https://polygon-amoy.infura.io/v3/YOUR_KEY
DEPLOYER_PRIVATE_KEY=your_private_key
TOKEN_NAME="XAU Dollar"
TOKEN_SYMBOL=XAU$
MINT_AMOUNT=1000000
MINT_TO_ADDRESS=0x...
TOKEN_CONTRACT_ADDRESS=0x...